:root {
    --opacite : #1e1e1ead;
    --red: #660000;
    --black: #000000;
    --white: #f0ffff;
    --font: 'Roboto', sans-serif;
}

body{
    /*background-color: white;*/
    width: 100%;
    height: 100vh;
    background-image: url("asset/index.webp");
    background-position: right;
    background-attachment: fixed;
}
/* Style pour la section des messages */
.messages {
    margin-top: 20px;
}

/* Style pour chaque message */
.message {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

/* Style pour le titre du sujet */
h1 {
    color: var(--black);
    background-color: white;
    font-family: var(--font);
    font-size: 30px;
    margin-bottom: 20px;
    border: solid 1px var(--black);
    border-radius: 5px;
    padding: 5px;
}

/* Style pour le formulaire d'ajout de message */
form textarea {
    width: 400px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: var(--red);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: var(--red);
}

article{
    margin: 100px;
}

h5{
    background-color: white;
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 5px;
    word-wrap: break-word;
}
h6{
    margin-left: 10px;
    margin-bottom: 30px;
}

.modify{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.container{
    margin-top: 130px;
}

.btn-secondary, .btn-secondary:hover{
    margin: 10px;
    background-color: var(--red);
}

.text-decoration-none{
    color: var(--black);
}
.creePar{
    color: white;
    background-color: var(--opacite);
    width: fit-content;
    border-radius: 20px;
    padding: 5px;
}
@media (max-width: 767px){
    textarea{
        width: 295px!important;
    }
}